.container {
  background-image: linear-gradient(to bottom, #fff 0%, #6566b3 100%);
  min-height: 100vh;
}

.headline {
  padding: 50px 30px 29px;
  background-image: linear-gradient(to bottom, #ab7bd1 0%, #9075ca 35%, #4877c2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.albumList {
  width: 100%;
  @apply flex flex-nowrap flex-col justify-between;
}
