.container {
  height: 82px;
  padding: 18px 30px 19px;
  @apply flex justify-between items-center;
}

.logos {
  font-size: 20px;
  font-weight: 800;
  @apply flex items-center;
}

.logos > span {
  margin-right: 4px;
  font-family: SF_HambakSnow;
}
.icons {
  @apply flex;
}
.icons > img:first-child {
  margin-right: 18px;
}
