/* 스낵바 컨테이너 */
.container {
  @apply fixed z-10 w-11/12 text-sm bottom-1 right-1/2 translate-x-2/4;
}

.notification {
  @apply mb-4 rounded opacity-90 shadow-black;
}

.toast {
  animation: snackbar-popup 0.4s;
  @apply h-12 p-2 text-white bg-snackbar;
}

.toast_message {
  @apply flex w-4/5 mt-1 text-center;
}

.toast_message img {
  @apply mx-4;
}

.toast_message span {
  @apply text-sm;
}

@keyframes snackbar-popup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
